/*  MDL Overrides */
.mdl-button {
  border-radius: 1px;
}

a {
	text-decoration: none;
}

.elysium-textfield__error {
  color: #f00;
}

/*  Buttons */
.mdl-button--raised.mdl-button--colored.elysium-button--register {
  background-color: #26A69A;
  color: #fff;
  font-weight: bold;
}

.elysium-full-card, .elysium-full-card .mdl-textfield  {
  width: 100%;
}

.elysium-page-title {
	font-size: 26px;
	font-weight: bold;
} 

.elysium-grid .mdl-cell {
	font-size: 18px;
	border-bottom: 1px solid #eee;
}