{
  "database": {
    "type": "mysql",
    "host": "",
    "port": "3306",
    "user": "badhat",
    "pass": "ilovebikes",
    "database":"elysium"
  },
  "dev": {
    "env": {
      "port":"8083"
    }
  },
  "stage": {
    "env": {
      "port":"8080"
    }
  },
  "production": {
    "env": {
      "port":"8080"
    }
  }
}
