

<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.0/material.light_blue-orange.min.css">
  <script defer src="https://code.getmdl.io/1.1.0/material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <script src="/public/js/elysium.js"></script>
  <link rel="stylesheet" href="/public/css/elysium.css">
  <style>
  .post {
    font-family: Merriweather;

    border-bottom: 1px solid #ccc;
    font-size: 15px;
  }
  .quote {
    font-style: italic;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px;
  }
  </style>
</head>

<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="elysium-header mdl-layout__header mdl-layout__header--waterfall" style="background-color:#00608f;color:#fff;">
        <div class="mdl-layout__header-row">
          <span class="elysium-title mdl-layout-title">
            elysium
          </span>
          
          <div class="elysium-header-spacer mdl-layout-spacer"></div>
          <div class="elysium-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>

          <span class="elysium-mobile-title mdl-layout-title">
            [img]
          </span>
          <button class="elysium-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">?</li>

          </ul>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          [logo]
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Stuff</a>

        </nav>
      </div>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>

